<main>
        <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img src="<%= asset_path 'no_image.jpg' %>" /><table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th>orange</th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th></th>
  </tr>
</tbody></table>

<div class="row">
  <a class="btn btn-outline-secondary btn-block edit_user_<%= current_user.id %>" href="<%= edit_user_path(current_user) %>">
    <i class="fas fa-wrench"></i>
</a></div>
      <h2 class="mt-3">New book</h2>
      <form action="/books" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token"  value="..." autocomplete="off">
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
  </div>
</form>
    </div><!-- index.html.erb -->
<style>
  .user-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* ユーザーごとの間隔を設定 */
  }

  .user-image {
    margin-right: 10px; /* 画像と名前の間隔を設定 */
  }
</style>

<h1>ユーザー一覧</h1>
  <ul>
    <% @users.each do |user| %>
      <li>
        <% if user.profile_image.attached? %>
          <%= image_tag url_for(user.profile_image.variant(resize: "100x100")), alt: user.name, class: "user-image" %> <!-- プロフィール画像を表示 -->
        <% else %>
          <div class="default-user-image">デフォルト画像</div> <!-- 画像がない場合の代替表示 -->
        <% end %>
        <span><%= user.name %></span> <!-- ユーザー名を表示 -->
      </li>
    <% end %>
  </ul>