<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <%= form_for @user, url: user_path(@user), method: :put do |f| %>
      <%= f.text_area :introduction, placeholder: "最大50文字まで", maxlength: 50 %>
      <%= f.submit "保存" %>
    <% end %>
  <% end %>

  <% if @user.introduction.present? %>
    <p><%= @user.introduction %></p>
  <% else %>
    <p>自己紹介文はありません。</p>
  <% end %>
</div>